.uespEsoServerStatus {
	float: right;
	border: solid 1px gray;
	padding: 0.5em;
	margin: 0.4em;
}

.uespEsoServer {
}

.sidebar .uespEsoServerStatus {
	float: none;
	text-align: center;
	border: none;
	padding: 0;
	margin: 0;
}

.uespEsoServerStatus h1 {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	color: white;
	margin: 0;
	text-align: center;
}

.uespEsoServerUpdated {
	font-size: smaller;
	color: gray;
}

.uespEsoServerTitle {
	display: inline-block;
	font-weight: bold;
	width: 130px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: bottom;
	color: #ccc;
}

.uespEsoStatusUp {
	display: inline-block;
	color: #339933;
	font-weight: bold;
	min-width: 50px;
	text-align: left;
}

.uespEsoStatusDown {
	display: inline-block;
	color: #ee3333;
	font-weight: bold;
	min-width: 50px;
	text-align: left;
}

.uespEsoStatusUnknown {
	display: inline-block;
	color: yellow;
	font-weight: bold;
}

.uespEsoLeadsTable {
	width: 100%;
}

.uespEsoLeadSetName {
	text-align: center;
	color: #ffff99;
	font-size: 130%;
	background-color: #333;
	width: 100%;
}
.uespEsoLeadSetName img {
	vertical-align: middle;
}

.uespesoGoldenItem {
	font-weight: bold;
	color: #fff;
}
.uespesoGoldenItemQuality0 {
	color: #fff !important;
}
.uespesoGoldenItemQuality1 {
	color: #fff !important;
}
.uespesoGoldenItemQuality2 {
	color: #2DC50E !important;
}
.uespesoGoldenItemQuality3 {
	color: #3A92FF !important;
}
.uespesoGoldenItemQuality4 {
	color: #A02EF7 !important;
}
.uespesoGoldenItemQuality5 {
	color: #EECA2A !important;
}
.eso_item_link_popup {
	height: fit-content;
	width: fit-content;
	z-index: 250;
}
.uespesoEndeavorTypeTitle {
	font-weight: bold;
	font-size: 120%;
}
.uespesoEndeavorTypeTitle0 {
	color: #ff9;
}
.uespesoEndeavorTypeTitle1 {
	color: #99f;
}
.uespesoEndeavorName {
	font-weight: bold;
}
.uespesoServerStatusPage .uespEsoServerStatus {
	float: none;
	font-size: 125%;
}
.uespesoServerStatusPage .uespEsoServerTitle {
	width: 200px;
}